{% extends 'layout.html' %}
{% import re %}

{% block title %} | {{ article.title }}{% end %}

{% block head %}
    {% if twitter_card %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ twitter_username }}">
        <meta name="twitter:title" content="{{ article.title }}">
        <meta name="twitter:description" content="{{ handler.description(handler.md_to_html(article.content)) }}">
        <meta name="twitter:creator" content="{{ twitter_username }}">
        <meta name="twitter:domain" content="{{ handler.settings['blog_url'] }}">
    {% end %}
{% end %}

{% block content %}
<div class="post">
    <h1 id="title">{{ article.title }}</h1>
    <div class="date">
    {{ article.datetime[:10] }}
    </div>
    <article>
    {{ handler.md_to_html(article.content) }}
    </article>
    <div class="tags">
        Tagged in :
        {% for tag in tags %}
        <a href="/tag/{{ handler.urlencode(tag) }}">{{ tag }}</a>
        {% end %}
    </div>
    {% if current_user %}
    <div class="operation">
        <a href="/admin/edit/article/{{ article.id }}">Edit</a>
        <a style="text-decoration:underline;" onclick="if(confirm('Are you sure to delete this article?')){window.location.href='/admin/edit/delete/article/{{ article.id }}';}">Delete</a>
    </div>
    {% end %}
    {% if comment_system == 1 and disqus_name %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{ disqus_name.strip().lstrip() }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% elif comment_system == 2 and valine_app_id and valine_app_key %}
    <script src='{{ static_url("js/av-min.js") }}'></script>
    <script src='{{ static_url("js/valine.js") }}'></script>
    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: '{{ valine_app_id }}',
            appKey: '{{ valine_app_key }}',
            notify: false,
            verify: false,
            lang: 'en',
            avatar: 'mm',
            placeholder: 'Make sure your comments are useful to others :)'
        })
    </script>
    {% end %}
</div>
{% end %}