{% extends 'layout.html' %}

{% block title %} | Dropbox{% end %}

{% block content %}
<div class="post">
    <h1 id="title">Dropbox</h1>
    <article>
    {% if not authorized %}
        <div class="item">
            <p>Please modify the settings.py and fill in your dropbox app token.</p>
        </div>
    {% else %}
        <div class="item">
            <a href="/admin/dropbox/start" style="margin-top:6px;">Backup</a>
            <a href="/admin/dropbox/load" style="margin-top:6px;">Restore</a>
        </div>
        <div class="item">
            <p>{{ message }}</p>
        </div>
    {% end %}
    </article>
</div>
{% end %}
