{% extends 'layout.html' %}

{% block title %} | {{ tag_name }}{% end %}

{% block content %}
<h2>Tag: {{ tag_name }}</h2>
<ol id="posts">
    {% for year in sorted(articlesList.keys(), reverse = True) %}
    <h2>{{ year }}</h2>
    <ol id="posts">
        {% for i in range(len(articlesList[year])) %}
        <li>
            <span class="meta">{{ articlesList[year][i].datetime[:10] }}</span> <a href="/article/{{ articlesList[year][i].article_id }}">{{ articlesList[year][i].title }}</a>
        </li>
        {% end %}
    </ol>
    {% end %}
</ol>
{% end %}