<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/pygments_style.css") }}">
</head>
<body>
    <img class="bgp" src="{{ static_url("Rope.jpg") }}">
    <header id="header" class="fixed-top">
        <div class="nav">
            <h1><a href="{{ blog_url }}">{{ blog_name }}</a></h1>
            <ul>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/alltags">Tags</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </div>
    </header>
    <div id="main">
        <div class="container">
            {% block content %}
            {% end %}
        </div>
    </div>
    <div id="footer">
        Powered by 
        <a href="https://github.com/JmPotato/Pomash">Pomash</a> 
        &
        Created by 
        <a href="http://ipotato.me">JmPotato</a>
    </div>
</html>
