{% extends "layout.html" %}

{% block content %}
<div class="block">
    <div class="block-title">Admin Panel</div>
    <div class="block-item">
        <h3>Hello! {{ blog_author }}. Welcome back! <a href="/logout" onclick="return confirm('Are you sure to delete this article?');">Logout</a></h3>
    </div>
    <div class="block-item">
        <a href="/admin/edit/new/article" class="btn btn-primary btn-lg" style="margin-top:6px;">Write a new article</a>
        <a href="/admin/edit/new/article" class="btn btn-primary btn-lg" style="margin-top:6px;">Creat a new page</a>
    </div>
    <div class="block-item">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Article Name</th>
                    <th>Last Update</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articlesList %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.datetime }}</td>
                    <td>
                        <a href="/admin/edit/article/{{ article.id }}" class="btn btn-primary btn-xs">Edit</a>
                        <a class="btn btn-danger btn-xs" onclick="if(confirm('Are you sure to delete this article?')){window.location.href='/admin/edit/delete/article/{{ article.id }}';}">Delete</a>
                    </td>
                </tr>
            {% end %}
            </tbody>
        </table>
    </div>
</div>
{% end %}