{% extends "layout.html" %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Admin Panel</h3>
    </div>
    <div class="panel-body">
        <h4>Hello! {{ blog_author }}. Welcome back!   <a href="/logout">Logout</a></h4>
    </div>
    <ul class="list-group">
        {% if success %}
        <li class="list-group-item" style="padding-top: 3rem">
            <div class="alert alert-success">{{ message }}</div>
        </li>
        {% end %}
        <li class="list-group-item">
            <a href="/admin/edit/new/article" class="btn btn-primary btn-lg">Write a new article</a>
        </li>
        <li class="list-group-item">
            <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Article Name</th>
                    <th>Last Update</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articlesList %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.datetime }}</td>
                    <td>
                        <a href="/admin/edit/article/{{ article.id }}" class="btn btn-primary btn-xs">Edit</a>
                        <a href="/admin/edit/delete/article/{{ article.id }}" class="btn btn-danger btn-xs">Delete</a>
                    </td>
                </tr>
            {% end %}
            </tbody>
            </table>
        </li>
    </ul>
</div>
{% end %}