{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% if new %}
                        New Article
                    {% else %}
                        Edit Article
                    {% end %}
                </h3>
            </div>
            <div class="panel-body">
                <form action="" method="post" class="form-horizontal" style="padding:10px 15px 15px;">
                    <div class="form-group">
                        <label>Title</label>
                        <div class="col-sm-13">
                            <input type="text" class="form-control" placeholder="Title" name="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="category">
                        {% for category in categories %}
                            <option>{{ category.name }}</option>
                        {% end %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Concent</label>
                        <div class="col-sm-13">
                            <textarea rows="15" name="content"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% end %}