{% extends "layout.html" %}

{% block content %}
{% for article in articlesList %}
<div class="block">
    <div class="block-title">
        {{ article.title }}
    </div>
    <div class="block-content">
        {{ handler.md_to_html(article.content) }}
    </div>
    <div class="block-footer">
        <div id="date">Post on {{ article.datetime }}</div>
        <div id="tags">Tags:</div>
    </div>
</div>
{% end %}

{% if count > 3 %}
<div class="block-page">
    <ul class="pager">
        {% if page-1 > 0 %}
        <li class="next"><a href="/page/{{ page-1 }}">&larr; Newer</a></li>
        {% elif count%3 > 0 %}
        <li class="previous"><a href="/page/{{ page+1 }}">Older &rarr;</a></li>
        {% end %}
    </ul>
</div>
{% end %}
{% end %}