{% extends "layout.html" %}

{% block head %}
    {% if twitter_card %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ twitter_username }}">
        <meta name="twitter:title" content="{{ article.title }}">
        {% if len(handler.md_to_html(article.content)) <= 200%}
            <meta name="twitter:description" content="{{ handler.md_to_html(article.content)[:len(handler.md_to_html(article.content))/2-1] }}">
        {% elif len(handler.md_to_html(article.content)) > 200 %}
            <meta name="twitter:description" content="{{ handler.md_to_html(article.content)[:199] }}">
        {% end %}
        <meta name="twitter:creator" content="{{ twitter_username }}">
        <meta name="twitter:domain" content="{{ blog_url }}">
    {% end %}
{% end %}

{% block content %}
<div class="block">
    <div class="block-title">
        {{ article.title }}
    </div>
    <div class="block-content">
        {{ handler.md_to_html(article.content) }}
    </div>
    <div class="block-footer">
        <div id="date">Post on {{ article.datetime }}</div>
        <div id="tags">Tags:
            {% for tag in tags %}
                <a href="/tag/{{ tag }}" class="tag_box">{{ tag }} </a>
            {% end %}
        </div>
    </div>
    {% if comment %}
    <div class="comment">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = '{{ disqus_name.strip().lstrip() }}';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">Comments Powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    {% end %}
</div>
{% end %}