{% extends "layout.html" %}

{% block title %} | Articles{% end %}

{% block content %}
<div class="block">
    <div class="block-title">All Articles</div>
    <div class="block-content">
    {% for year in sorted(articlesList.keys(), reverse = True) %}
        <h1>{{ year }}</h1>
        <ul>
            {% for i in range(len(articlesList[year])) %}
                <li><a href="/article/{{ articlesList[year][i].id }}">{{ articlesList[year][i].title }}</a></li>
            {% end %}
        </ul>
    {% end %}
    </div>
</div>
{% end %}
