{% extends "layout.html" %}

{% block head %}
<script>
    function Check() {
        if (document.getElementById("n_password").value != document.getElementById("n_password_c").value) {
            alert("New passwords don't match");
            document.getElementById("n_password").value= "";
            document.getElementById("n_password_c").value = "";
        }
        else document.getElementById("change_pw").submit();
    }
</script>
{% end %}

{% block content %}
<div class="block">
    <div class="block-title">Change Password</div>
    <div class="block-content">
        {% if message %}
            <div class="block-item"><h4>{{ message }}</h4></div>
        {% end %}
        <div class="block-item">
            <form action="#" method="post" id="change_pw">
                <div class="input">
                    <label for="o_password">Old Password</label><input id="o_password" name="o_password" type="password">
                </div>
                <div class="input">
                    <label for="n_password">New Password</label><input id="n_password" name="n_password" type="password">
                </div>
                <div class="input">
                    <label for="n_password_c">Confirm New Password</label><input id="n_password_c" name="n_password_c" type="password">
                </div>
                <div id="submit">
                    <button type="button" class="btn btn-primary" onclick="Check()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% end %}