{% extends "layout.html" %}

{% block head %}
<script>
function AutoSave(it) {
    var _value = it.value;
	if (!_value) {
		var _LastContent = GetCookie('AutoSaveContent');

		if (!_LastContent) return;

		if (confirm("Load Last AutoSave Content?")) {
			it.value = _LastContent;
			return true;
		}
	} else {

		var expDays = 30;
		var exp = new Date();
		exp.setTime( exp.getTime() + (expDays * 86400000) );
		var expires='; expires=' + exp.toGMTString();

		document.cookie = "AutoSaveContent=" + escape (_value) + expires;
	}
}

function getCookieVal (offset) {
	var endstr=document.cookie.indexOf (";",offset);
	if (endstr==-1) endstr=document.cookie.length;
	return unescape(document.cookie.substring(offset, endstr));
}

function GetCookie (name){
	var arg=name+"=";
	var alen=arg.length;
	var clen=document.cookie.length;
	var i = 0;
	while (i<clen){
		var j=i+alen;
		if (document.cookie.substring(i,j)==arg) return getCookieVal (j);
		i = document.cookie.indexOf(" ",i)+1;
		if (i==0) break;
	}
	return null;
}

function DeleteCookie (name) {
	var exp=new Date();
	exp.setTime (exp.getTime()-1);
	var cval=GetCookie (name);
	document.cookie=name+"="+cval+";expires="+exp.toGMTString();
}
</script>
{% end %}

{% block content %}
<div class="block">
    <div class="block-title">Editor</div>
    <div class="block-content">
        {% if is_page %}
        <form action="#" method="post" id="page_editor" onSubmit="DeleteCookie('AutoSaveContent')">
            <div class="input">
                <label for="title">Title</label>
                {% if new %}
                <input id="title" name="title" type="text">
                {% else %}
                <input id="title" name="title" type="text" value="{{ page.title }}">
                {% end %}
            </div>
            <div class="input">
                <label for="content">Content</label><br />
                {% if new %}
                <textarea rows="30" id="content" name="content" onkeyup="AutoSave(this);" onselect="AutoSave(this);" onclick="AutoSave(this);"></textarea>
                {% else %}
                <textarea rows="30" id="content" name="content" onkeyup="AutoSave(this);" onselect="AutoSave(this);" onclick="AutoSave(this);">{{ page.content }}</textarea>
                {% end %}
            <div id="submit">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
        {% else %}
        <form action="#" method="post" id="article_editor" onSubmit="DeleteCookie('AutoSaveContent')">
            <div class="input">
                <label for="title">Title</label>
                {% if new %}
                <input id="title" name="title" type="text">
                {% else %}
                <input id="title" name="title" type="text" value="{{ article.title }}">
                {% end %}
            </div>
            <div class="input">
                <label for="tag">Tag</label>
                {% if new %}
                <input id="tag" name="tag" type="text">
                {% else %}
                <input id="tag" name="tag" type="text" value="{{ article.tag }}">
                {% end %}
            </div>
            <div class="input">
                <label for="content">Content</label><br />
                {% if new %}
                <textarea rows="30" id="content" name="content" onkeyup="AutoSave(this);" onselect="AutoSave(this);" onclick="AutoSave(this);"></textarea>
                {% else %}
                <textarea rows="30" id="content" name="content" onkeyup="AutoSave(this);" onselect="AutoSave(this);" onclick="AutoSave(this);">{{ article.content }}</textarea>
                {% end %}
            <div id="submit">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
        {% end %}
    </div>
</div>
{% end %}