body {
    line-height:1.4em;
    font-family:"Lucida Grande","Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
    text-decoration:none;
    color:#06C;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
input {
    font-size:17px;
    border:3px solid rgba(0,0,0,0.1);
    padding:10px 10px;
    width:95%;
}
textarea {
    width:97.5%;
    font-size:17px;
}
div#submit {
    margin:10px;
    text-align:center;
}
.tag_box {
    padding:3px 6px;
    margin:5px;
    background:#eee;
    color:#005F6B;
    border-radius:3px;
}
.tag_box span {
    vertical-align:super;
    font-size:0.8em;
}
.pager {
    padding-left:0;
    margin:20px 0;
    text-align:center;
    list-style:none;
}
.pager:before,.pager:after {
    display:table;
    content:" "
}
.pager:after {
    clear:both
}
.pager:before,.pager:after {
    display:table;
    content:" "
}
.pager:after {
    clear:both
}
.pager li {
    display:inline
}
.pager li>a,.pager li>span {
    display:inline-block;
    padding:5px 14px;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:15px
}
.pager li>a:hover,.pager li>a:focus {
    text-decoration:none;
    background-color:#eee
}
.pager .next>a,.pager .next>span {
    float:left;
}
.pager .previous>a,.pager .previous>span {
    float:right;
}
.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span {
    color:#999;
    cursor:not-allowed;
    background-color:#fff
}
.btn {
    display:inline-block;
    padding:6px 12px;
    margin-bottom:0;
    font-size:14px;
    font-weight:normal;
    line-height:1.428571429;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    cursor:pointer;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none
}
.btn-primary {
    color:#fff;
    background-color:#428bca;
    border-color:#357ebd
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
    color:#fff;
    background-color:#3276b1;
    border-color:#285e8e
}
.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
    background-image:none
}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
    background-color:#428bca;
    border-color:#357ebd
}
.btn-primary .badge {
    color:#428bca;
    background-color:#fff
}
.btn-danger {
    color:#fff;
    background-color:#d9534f;
    border-color:#d43f3a
}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger {
    color:#fff;
    background-color:#d2322d;
    border-color:#ac2925
}
.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger {
    background-image:none
}
.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active {
    background-color:#d9534f;
    border-color:#d43f3a
}
.btn-danger .badge {
    color:#d9534f;
    background-color:#fff
}
.btn-lg {
    padding:10px 16px;
    font-size:18px;
    line-height:1.33;
    border-radius:6px
}
.btn-sm {
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px
}
.btn-xs {
    padding:1px 5px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px
}
table {
    max-width:100%;
    background-color:transparent;
}
th {
    text-align:left
}
.table {
    width:100%;
    margin-bottom:20px
}
.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td {
    padding:8px;
    line-height:1.428571429;
    vertical-align:top;
    border-top:1px solid #ddd
}
.table>thead>tr>th {
    vertical-align:bottom;
    border-bottom:2px solid #ddd
}
.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>th,.table>caption+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>td,.table>thead:first-child>tr:first-child>td {
    border-top:0
}
.table>tbody+tbody {
    border-top:2px solid #ddd
}
.table .table {
    background-color:#fff
}
.table-condensed>thead>tr>th,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>tbody>tr>td,.table-condensed>tfoot>tr>td {
    padding:5px
}
.table-bordered {
    border:1px solid #ddd;
}
.table-bordered>thead>tr>th,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>td {
    border:1px solid #ddd
}
.table-bordered>thead>tr>th,.table-bordered>thead>tr>td {
    border-bottom-width:2px
}
.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th {
    background-color:#f9f9f9
}
.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {
    background-color:#f5f5f5
}
table col[class*="col-"] {
    position:static;
    display:table-column;
    float:none
}
table td[class*="col-"],table th[class*="col-"] {
    display:table-cell;
    float:none
}
.table>thead>tr>.active,.table>tbody>tr>.active,.table>tfoot>tr>.active,.table>thead>.active>td,.table>tbody>.active>td,.table>tfoot>.active>td,.table>thead>.active>th,.table>tbody>.active>th,.table>tfoot>.active>th {
    background-color:#f5f5f5
}
.table-hover>tbody>tr>.active:hover,.table-hover>tbody>.active:hover>td,.table-hover>tbody>.active:hover>th {
    background-color:#e8e8e8
}
.table>thead>tr>.success,.table>tbody>tr>.success,.table>tfoot>tr>.success,.table>thead>.success>td,.table>tbody>.success>td,.table>tfoot>.success>td,.table>thead>.success>th,.table>tbody>.success>th,.table>tfoot>.success>th {
    background-color:#dff0d8
}
.table-hover>tbody>tr>.success:hover,.table-hover>tbody>.success:hover>td,.table-hover>tbody>.success:hover>th {
    background-color:#d0e9c6
}
.table>thead>tr>.danger,.table>tbody>tr>.danger,.table>tfoot>tr>.danger,.table>thead>.danger>td,.table>tbody>.danger>td,.table>tfoot>.danger>td,.table>thead>.danger>th,.table>tbody>.danger>th,.table>tfoot>.danger>th {
    background-color:#f2dede
}
.table-hover>tbody>tr>.danger:hover,.table-hover>tbody>.danger:hover>td,.table-hover>tbody>.danger:hover>th {
    background-color:#ebcccc
}
.table>thead>tr>.warning,.table>tbody>tr>.warning,.table>tfoot>tr>.warning,.table>thead>.warning>td,.table>tbody>.warning>td,.table>tfoot>.warning>td,.table>thead>.warning>th,.table>tbody>.warning>th,.table>tfoot>.warning>th {
    background-color:#fcf8e3
}
.table-hover>tbody>tr>.warning:hover,.table-hover>tbody>.warning:hover>td,.table-hover>tbody>.warning:hover>th {
    background-color:#faf2cc
}
.table-responsive>.table {
    margin-bottom:0
}
.table-responsive>.table>thead>tr>th,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tfoot>tr>td {
    white-space:nowrap
}
.table-responsive>.table-bordered {
    border:0
}
.table-responsive>.table-bordered>thead>tr>th:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child {
    border-left:0
}
.table-responsive>.table-bordered>thead>tr>th:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child {
    border-right:0
}
.table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>th,.table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>td {
    border-bottom:0
}
}.input {
    padding:10px;
}
.highlight {
    padding:5px 20px;
    color:#c7254e;
    font-size:18px;
    background-color:#f9f2f4;
    border-radius:4px;
    overflow:auto;
}
.bgp {
    min-width:100%;
    min-height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:-2;
}
.fixed-top {
    position:fixed;
    top:0;
    right:0;
    left:0;
}
#header {
    width:100%;
    opacity:0.8;
    background:#FFFFFF;
}
#header .nav {
    margin:auto;
    width:700px;
    z-index:2000;
}
#header h1 {
    display:inline-block;
    font-family:AvenirNext-Bold;
    font-size:27px;
    color:#4A4A4A;
}
#header a {
    text-decoration:none;
    font-weight:500;
    color:#333;
}
#header #nav-list-url,#nav-list-page {
    display:inline-block;
    font-family:Georgia;
    font-size:22px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    padding-left:5px;
}
#header #nav-list-url a,#nav-list-page a {
    margin:5px;
    padding:0.7px;
}
#main {
    margin:0 auto;
    width:700px;
}
#main .container {
    margin-top:100px;
}
#main .block {
    background:#FFF;
    padding:5px 15px 15px 15px;
    border-radius:5px;
    margin-bottom:60px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.45);
}
#main .block-title {
    color:#06C;
    font-size:35px;
    padding:25px 20px 20px;
    text-align:center;
    border-bottom:2px solid #eee;
}
#main .block-item {
    padding:10px;
    border-bottom:2px solid #eee;
}
#main .block-content {
    padding:10px 20px 10px;
}
#main .block-content code {
    padding:2px 4px;
    font-size:90%;
    color:#c7254e;
    background-color:#f9f2f4;
    border-radius:4px;
}
#main .block-content blockquote {
    padding:10px 20px;
    margin:0 0 20px;
    font-size:17.5px;
    border-left:5px solid #eee;
}
#main .block-content pre {
    white-space:pre-wrap;
}
#main .block-content ul {
    list-style-type:square;
    padding:5px 25px;
}
#main .block-content ul li {
    margin:0 0 15px 6px;
    padding-left:5px;
    font-size:18px;
}
#main .block-content h1 {
    font-size:30px;
}
#main .block-content p {
    line-height:22px;
    font-size:18px;
    margin-bottom:24px;
}
#main .block-content img {
    max-width:98%;
}
#main .block-footer {
    border-top:2px solid #eee;
    padding:10px;
}
#main .block-footer p {
    font-size:15px;
    display:inline-block;
}
#main .block-footer div#tags {
    padding-top:10px;
}
#main .block-footer div#tags a {
    padding:3px;
}
#main .comment {
    border-top:2px solid #eee;
}
#main .block-page {
    background:#FFF;
    padding:5px 10px 5px;
    border-radius:5px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.45);
}
#footer {
    font-size:16px;
    text-align:center;
    margin-top:20px;
    padding-top:10px;
    padding-bottom:10px;
    border-top:1px solid rgba(0,0,0,0.1);
}
@media only screen and (max-width:760px) {
    .highlight {
        padding:5px 20px;
        color:#c7254e;
        font-size:13px;
        background-color:#f9f2f4;
        border-radius:4px;
        overflow:auto;
    }
    #header .nav {
        width:auto;
    }
    #header h1 a {
        padding-left:7px;
        font-size:20px;
        display:block;
        text-align:center;
    }
    #header #nav-list-url,#nav-list-page {
        display:inline-block;
        text-align:center;
    }
    #header #nav-list-url a,#nav-list-page a {
        font-size:13px;
    }
    #main {
        margin-top:60px;
        width:100%;
    }
    #main .block-title {
        font-size:19px;
    }
    #main .block-title a {
        font-size:19px;
    }
    #main .block-content {
        padding:0px;
    }
    #main .block-content blockquote {
        font-size:13px;
    }
    #main .block-content h1 {
        font-size:13px;
    }
    #main .block-content p,pre,a,code {
        font-size:13px;
    }
    #main .block-content ul li {
        font-size:13px;
    }
    #main .block-content ol li {
        font-size:13px;
    }
    #main .block-footer p {
        font-size:8px;
    }
    #main .block-footer #date,#tags {
        font-size:13px;
        display:block;
    }
    #footer {
        font-size:13px;
    }
}